.projects{
background-color: rgb(255, 255, 255);
margin:10px;

border-radius: 10px ;
border:35px solid;
border-color: black;
border-width: 1px;

height: 450px;
width: 450px;
overflow: hidden;

display: flex;
flex-direction: column;
align-items: center;
text-align: center;


box-shadow: 10px 8px 5px 6px rgba(0,0,0,0.2);
-webkit-box-shadow: 10px 8px 5px 6px rgba(0,0,0,0.2);
-moz-box-shadow: 10px 8px 5px 6px rgba(0,0,0,0.2);

}
.projects:hover{
    transition: 2s;
    transform: scale(1.05);
}

.projects:not(:hover){
    transition: 1s;
    transform: scale(1);
}

.projectTitle{
    color: black;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

img{
    height: 300px;
    width: 350px;
}

h3{
    margin: 0px;
    padding: 0px;
}

@media (max-width: 1000px) {
    
    header{

        display: flex;
        flex-direction: column;
text-align: center;
    }

    .etiquetaMenu{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .etiquetaMenu{
        cursor: pointer;
    }

    header ul{
        display: none;
    }

#check:checked ~ ul{
    display: flex;
    flex-direction: column;

    transition: 2sec;
    height: 100%;
}

}